@font-face {
    font-family: "Instruction" ;
    src: url("../fonts/Instruction.otf") ;
}


@font-face {
font-family: 'Fjalla One', sans-serif;
}


h1, h2{
	text-align: center;
	font-family: "Instruction", cursive;
}

h3, h5, a{
	font-family: "Instruction", cursive;
}

p, li{
  font-family: 'Fjalla One', sans-serif;
}
