.navbar-events {
    background-color:#e67e22;
    border-color:#e67e22 ;
}

.navbar-exhibition {
    background-color:#229922;
    color:#ffffff;
    border-radius:0;
}


.navbar-collection {
    background-color:#229922;
    color:#ffffff;
    border-radius:0;
}

.navbar-news {
    background-color:#229922;
    color:#ffffff;
    border-radius:0;
}
